.home {
    background-color: rgb(255, 190, 148);
    height: 100px;
}

h2 {
    color : rgb(50, 70, 151);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600 !important;
}

.bottomBar {
    background-color: rgb(255, 165, 105);
    height: 100px;
    text-align: center;
    width: 95%;
    border-radius: 2em;
    margin-left: 2%;
    object-fit: scale-down;
    position: relative;
    bottom: -60px;
    z-index: 1;
}

.clear{
    clear:both;
    }

.bottomBar img {
    max-width: 58px;
    margin-top: 20px;
}

.imgBandeau{
    max-width: 75%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10px;
    min-height: 80px;
}

.imgHelp {
    margin-left: 10px;
    margin-right: 10px;
    object-fit: scale-down;
    cursor: pointer;
}

.imgMain {
    object-fit: scale-down;
    width: 60%;
    max-height: 270px;
    margin: 25px;
}

.imgHome{
    max-width: 64px;
    cursor: pointer;
}

.imgLink {
    margin-left: 10px;
    margin-right: 10px;
    object-fit: scale-down;
    cursor: pointer;
}

.img {
    margin: 10%;
    width: fit-content;
}

.imgTour1{
    max-width: 120px;
    max-height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imgTour2{
    max-width: 100px;
    max-height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imgTour3{
    max-width: 100px;
    max-height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.imgTimer{
    width: inherit;
    margin-left: 10px;
    max-width: 120px;
}

.imgCross{
    width: 22px;
    height: 22px;
    float: right;
}

.imgCheck{
    width: 22px;
    height: 22px;
    float: right;
}

.imgArtifice{
    width: 64px;
}

.accesCode {
    margin: 18px;
    width: 40%;
    text-align: center;
    height: 35px;
    font-size: 80%;
    border: 2px solid black;
    border-radius: 0.5em;
}

.btn.btn-success {
    margin: 2%;
    border-radius: 0.5em !important;
    border: 2px solid black !important;
    background-color: rgb(45, 212, 72) !important;
    color: black !important;
    font-size: large;
    max-height: 42px;
    z-index: 500;
}

.accueilBtn{
    border-radius: 15% !important;
    border: 2px solid #444;
    width: auto;
    height: auto;
}

.page{
    background-color: rgb(255, 190, 148);
    text-align: center;
    width: 100%;
    min-height: 100vh;
}

.mainWrapper{
    width: 100%;
    font-family: BrixtonMed;
}

.currentTour{
    font-family: Amarillo;
    margin-bottom: 15px;
    padding-top: 10px;
    font-size: 1.5em;
    color: rgb(226, 113, 33);
    text-align: center;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

@font-face {
	font-family: "BrixtonMed";
    src: url('font/Brixton-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BrixtonBold";
    src: url('font/Brixton-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Verdana";
    src: url('font/verdana.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "VerdanaBold";
    src: url('font/verdanab.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "VerdanaIta";
    src: url('font/verdanai.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Amarillo";
    src: url('font/Amarillo.ttf');
    font-weight: normal;
    font-style: normal;
}

.titreRegles{
    font-family: Verdana;
    font-size: 180%;
    color: rgb(226, 113, 33);
    margin: 10px;
    margin-bottom: 30px;
}

.textRegles{
    text-align: left;
    font-family: Verdana;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}

.titreCredit{
    font-family: Verdana;
    font-size: 180%;
    color: rgb(226, 113, 33);
    margin: 10px;
    margin-bottom: 20px;
}

.textCredit{
    text-align: left;
    font-family: Verdana;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15px;
}

.contactCredit{
    text-align: center;
    font-family: VerdanaBold;
    margin-top: 15px;
    margin-bottom: -25px;
}

body {
    position: relative;
    min-height: 100%;
  }


#list-example.list-group{
    margin: 10px;
    display: block;
    font-family: Amarillo;
    margin-bottom: 10px;

} 
.list-group-tour.list-group-tour-action{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.nav li{
    float:left;
}

.scrollspy-example {
    position: relative;
    height: 280px;
    margin-top: .5rem;
    overflow: auto;
}

.pomodoroTimer {
    background: rgb(255, 190, 148);
   /* border: 3px solid #777; */
    border-radius: 12px;
    /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    margin: 5% auto;
    width: 100%;
    height: 120px;*/
  }

  .timer-display{
   height: 85px;
  }

  .timer-control {
    font-size: 2em;
    width: 100%;
    transition: all 0.25s ease-in;
    font-family: Amarillo;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    color : rgb(50, 70, 151);
    margin-top: 10%;
  }

  .timer-control:hover {
    color: #00cc66;
    cursor: pointer;
  }

  .times-up {
    color: #B22222;
  }

.stepper:hover {
      color: #00cc66;
    }

#interface {
        text-align: center;
        
    }
        button {
          background: none;
          border: 3px solid #444;
          border-radius: 50% !important;
          color: #444;
          font-weight: bold;
          width: 58px;
          height: 58px;
          transition: all .2s ease-in;
        }

        #interface button{
            height: 35px;
            width: auto;
            border: 2px solid #444;
        }

        #interface button:hover {
            color: #FEFFF1;
          }

         .stepperMoins {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: none;
            border: none;
            color: #444;
            transition: all .25s ease-in;
            top: -5px;
          }

          .stepperPlus {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: none;
            border: none;
            color: #444;
            transition: all .25s ease-in;
            top: -25px;
          }

          .resetButton{
              position: relative;
              border: none !important;
          }
          .stopButton{
              border: none !important;
              border-radius: 15% !important;
          }

        .gameDiv{
       /*     background: #e8ebc5;
    border: 2px solid #777;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
    margin: 5% auto;
    width: 90%;
    display: none;
    height: 340px;
    z-index: 200;
        }

    .currentWord{
        font-size: 1.4em;
        margin: 10px;
    }

    #WordPass{
        margin-right: 10%;
        float: right;
        font-size: 0.7em;
        width: 64px;
        height: 64px;
        margin-top: 4%;
        background-image: url(./img/false.png);
        background-size: contain;
        background-position-y: center;
        border: none !important;
    }

    #WordFound{
        margin-right: 15%;
        margin-left: 10%;
        font-size: 1.5em;
        background-image: url(./img/true.png);
        background-size: contain;
        width: 112px;
        height: 112px;
        background-position-y: center;
        border: none !important;
    }

    .nbWordsLeft{
        background-color: chocolate;
        border-radius: 50%;
        color: white;
        padding: 1%;
        padding-left: 5px;
        position: relative;
        top: -30px;
        right: -5px;
        float: right;
        width: 26px;
        height: 26px;
        font-size: 0.8em;
    }

    .btn.btn-lg.btn-danger{
        border-radius: 15% !important;
        border: 2px solid black;
        width: auto;
        max-height: 42px;
    }

    .btn.btn-lg.btn-success{
        border-radius: 15% !important;
        border: 2px solid #444;
        width: auto;
        background-color: rgb(45, 212, 72) !important;
    }

    .rappelRegles{
     /*   background: #e8ebc5;
    border: 3px solid #777;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
    width: 95%;
    margin: 2.5%;
    height: 340px;
    font-size: 1.1em;
    }

    .gameStartBtn{
        border-radius: 15% !important;
        border: 2px solid #444;
        width: auto;
        background-color: rgb(45, 212, 72);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .detailBtn{
        -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: none;
            border: none;
            color: #444;
            transition: all .25s ease-in;
            position: absolute;
            left: -5px;
            float: left;
            bottom: -100%;
    }

    .detailBtnModale{
        -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: none;
            border: none !important;
            color: #444;
            transition: all .25s ease-in;
            position: absolute;
            left: -5px;
    }

    .wordDesc{
        display: none;
        background-color: ivory;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        border-radius: 1em;
        color: black;
        padding: 10px;
        font-size: 0.9em;
    }

    .lastTurnDetail{
        text-align: left;
        font-size: 1.2em;
    }

    .cardWord{
        margin-top: 15px;
        font-weight: 500;
        background-color: white;
        border-radius: 0.5em;
        color: red;
    }

    .cardDescModal {
        font-size: 0.8em;
        background-color: rgb(255, 190, 148) !important;
    }

    .wordGame{
        font-weight: bold;
        font-size: 1em;
        background-color: white;
        color: black;
        border-radius: 0.5em;
        margin-top: 5%;
        margin-bottom: 10px;
    }

    .buttonsGame{
        margin-top: 5px;

    }

    .modal-content{
        background-color: rgb(255, 190, 148) !important;
    }

    .trouve{
        color: black;
    }